/* =========================================
	Table Content
/* =========================================

	01.Breakpoint
		01. Desktop
		02. Tablet
		03. Mobile

	01.Fonts

========================================= */	

/*=========================================
01.Breakpoint
=========================================*/

/* 01. Desktop */
$xld: 1744px;
$ld: 1564px;
$md: 1384px;
$sd: 1204px;
$xsd: 1024px;

/* 02. Tablet */
$xlt: 972px;
$lt: 921px;
$mt: 870px;
$st: 819px;
$xst: 768px;

/* 03. Mobile */ 
$xlm: 676px;
$lm: 587px;
$mm: 498px;
$sm: 409px;
$xsm: 320px;

/*=========================================
01.Fonts
=========================================*/
$font-1: 'Montserrat', sans-serif;
$font-2: 'Bahnschrift';