.form{
	&-group{
		margin-bottom: 21px;

	}
	&-label{
		font-size: 16px;
		line-height: normal;
		margin-bottom: 10px;
		font-family: $font-2;
		color: #585858;
	}
	&-control{
		border-radius: 0px;
		border: 2px solid #e6e6e6;
		min-height: 50px;
		padding: 0px 20px;
		font-size: 14px;
		font-weight: 500;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #cccccc;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #cccccc;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: #cccccc;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #cccccc;
		}

		&:focus{
			outline: none;
			box-shadow: none;
			border-color: #2874ef;
		}
	}
}